.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 200px 100px;
  gap: 5px;
}
.item {
  background-color: rgb(240, 136, 0);
  border: 1px solid black;
}
.item1 {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: aliceblue;
}
.item2 {
  grid-column: 3/4;
  grid-row: 1/3;
  background-color: beige;
}
.item6 {
  grid-column: 2/4;
  background-color: antiquewhite;
}
