body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: white;
}
h1,
h2 {
  color: rgb(31, 30, 30);
}
.container {
  background-color: white;
  border: 2px solid black;
  margin-bottom: 20px;
  padding: 10px;
}
.flex-container {
  display: flex;
  height: 200px;
  margin-bottom: 10px;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 5px;
  color: rgb(0, 0, 0);
}
.pastel-1 {
  background-color: rgb(123, 123, 255);
}
.pastel-2 {
  background-color: rgb(239, 133, 151);
}
.pastel-3 {
  background-color: rgb(236, 236, 148);
}
.pastel-4 {
  background-color: rgb(130, 255, 130);
}
.pastel-5 {
  background-color: rgb(255, 93, 93);
}
