h1,
h2 {
  color: rgb(50, 24, 24);
}

.container {
  background-color: rgb(199, 149, 83);
  border: 2px solid #333;
  margin-bottom: 20px;
  padding: 10px;
}
.grid-container {
  display: grid;
  gap: 10px;
  background-color: aliceblue;
  padding: 10px;
  margin-bottom: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
}

.grid-container2 {
  display: grid;
  gap: 10px;
  background-color: aliceblue;
  padding: 10px;
  margin-bottom: 10px;
  grid-template-columns: 1fr 2fr 1fr;
}
.grid-container3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.grid-container4 {
  display: grid;
  background-color: white;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-rows: repeat(3, 100px);
}

.box {
  background-color: rgb(238, 255, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 18px;
  padding: 20px;
}
.box:nth-child(odd) {
  background-color: rgb(0, 54, 36);
  color: #ffffff;
}
