.container {
  background-color: rgb(112, 179, 213);
  padding: 0px;
  height: 100vh;

  border-radius: 24px;
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: (3, 1fr);
  grid-template-rows: (3, 50px);
  background-color: rgb(8, 59, 31);
  gap: 10px;

  border-radius: 24px;
  padding: 0px;
  margin: 0;
  height: 98vh;
}
.box {
  background-color: aquamarine;
  border-radius: 24px;
  align-content: center;
}
.video-box {
  background-color: aquamarine;
  border-radius: 24px;
}
